<!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li class="active-link">
                <a asp-controller="Products" asp-action="Index">
                    <i class="fa fa-desktop "></i>Товары
                </a>
            </li>
        </ul>
    </div>

</nav>